*.csv
*.pyc
__pycache__/

# Summarization
summarization/models/

# Text Generator
text_generator/models/
text_generator/data/

# General
node_modules/
.next/
out/

# Environment files
.env
.env.local
.env*.local

